<html class="hw4">

<head>
<link rel="stylesheet" type="text/css" href="/public/css/base.css">
</head>

<body>

<div class="container">

	<h1>The Busy Birder<h1>

	{{{ body }}}

	<p><a href="/">Home</a></p>
	
</div>

</body>

</html>
