<script id="hw4-template" type="text/x-handlebars-template">
</script>

<h3>On the homepage, birds watch you!</h3>

<img src = "/public/img/bird.jpg">

<p> See the <a href="birds">bird list</a> or change my <a href="settings">settings</a>. </p>