<script id="hw4-template" type="text/x-handlebars-template">
</script>

<h3>Settings</h3>

<p>Only show birds that have been seen this many times:</p>

<form method="POST" action="">
<input type="text" name="birdSettings">
</br>
<input type="submit" value="Set It!">

</br></br>
<a href="/birds">Back to Bird List</a>
